#articleList {
	width: 100%;
}

#articleList h1 {
	font-size: 18px;
	text-transform: normal;
}

#articleList .newsPagination a {
	display: block;
	float: left;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	margin-right: 10px;
	border: 1px solid gray;
}

#articleList .newsPagination a:hover {
	background: #cccccc;
}

#articleList .newsPagination a.active {
	background: black;
	color: white;
}

#articleList .newsArticle {
	width: 100%;
}

#articleList p.artDate {
	font-style: italic;
	float: left;
}

#articleList p.artAuthor {
	float: right;
}

#articleList h2 {
	clear: both;
	border-top: 1px solid #cccccc;
	font-size: 14px;
	padding: 10px 0 0 0 ;
}

#articleList .artImage {
	float: left;
	margin-right: 30px;
	border: 1px solid black;
}

#articleList .artImage img {
	display: block;
}

#articleList p.linkMore {
	clear: both:
}

#articleList p.linkOverview {
	padding: 10px 0;
	margin-top: 20px;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}